.Anas{
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 3px;
    border-radius: 5px;
    background-color: grey;
    text-shadow: 2px 2px 4px black;
}
.image{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}